<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VideoLibraryConsole.Properties.Settings.VideoLibraryConsoleConnectionString"
            connectionString="Data Source=ADMIN-PC;Initial Catalog=VideoLibraryConsole;Persist Security Info=True;User ID=sa;Password=washburnwg330"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>